@model System.Collections.Generic.List<FptBook.Models.CartItem>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Cart</h2>

<table class="table">
    <thead>
    <tr>
        <th>Book</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Book.Tittle</td>
            <td>@item.Book.Price.ToString("C")</td>
            <td>@Html.TextBoxFor(modelItem => item.Quantity, new { @class = "form-control" })</td>
            <td>@(item.Quantity * item.Book.Price).ToString("C")</td>
             <td>
                <form asp-action="RemoveCart" asp-route-id="@item.Book.BookId">
                    <button class="btn btn-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Index", "Home")" class="btn btn-default">Continue Shopping</a>
        <button type="submit" class="btn btn-primary">Update Cart</button>
    </div>
</div>

<div class="total">
    <h3>Total: @Model.Sum(item => item.Quantity * item.Book.Price).ToString("C")</h3>
</div>
