@model BookViewModel

<h2>Details</h2>

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/images/" + Model.ImageFile.FileName)" class="img-thumbnail" />
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Tittle)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tittle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sumary)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sumary)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CategoryID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CategoryID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AuthorName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AuthorName)
            </dd>
        </dl>
        <p>
            <a asp-action="AddToCart" asp-route-id="@Model.BookId">Add to cart</a>
            <a asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.BookId" class="btn btn-danger">Delete</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </p>
    </div>
</div>
