<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FPTBook Store</title>
    
    <!-- Icon -->
    <link href="@Url.Content("~/image/book-shop.png")" rel="icon" type="image/x-icon">

    <!-- Boostrap file CSS Link -->
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    
    <!-- Custom file CSS Link -->
    <link href="@Url.Content("~/css/main-layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/user-setting-page.css")" rel="stylesheet" type="text/css" />
    @RenderSection("CSS", required: false)

    <!-- Font awesome cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!-- Swiper link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>
<body>

        <!-- header section start -->
    
        <header class="header">
    
            <!-- header 1 start -->
            <div class="header-1">
    
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-book"></i> FPTBook</a>
    
                @RenderSection("SearchBar", required:false)
    
                <div class="icons">
                    @* @await Html.PartialAsync("_CartPartial") *@
                    @await Html.PartialAsync("_LoginPartial")
                </div>
    
            </div>
            <!-- header 1 end -->

            <!-- header 2 start -->
           <div class="header-2">
               <nav class="navbar">
                   <a class="dropbtn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                   <a class="dropbtn" href="#Featured">Featured</a>
                   <div class="dropdown">
                       <a class="dropbtn" href="#Arrivals">Arrivals</a>
                       <div class="dropdown-content">
                           <a class="drop-content" href="#arrivals">New Arrivals</a>
                           <a class="drop-content" href="#">Best Sellers</a>
                       </div>
                   </div>
                   <div class="dropdown">
                       <a class="dropbtn" href="#Category">Category</a>
                       <div class="dropdown-content">
                           <a class="drop-content" href="#">Thriller</a>
                           <a class="drop-content" href="#">Romantic</a>
                           <a class="drop-content" href="#">Adult</a>
                       </div>
                   </div>
                   <a class="dropbtn" href="#reviews">Review</a>
                   <a class="dropbtn" href="#blogs">Blog</a>
               </nav>
           </div>
            <!-- header 2 end -->
        </header>
    <!-- header section end -->

    <!-- bottom navbar start-->
    <nav class="bottom-navbar">
        <a href="#Home" class="fas fa-home"></a>
        <a href="#Featured" class="fas fa-list"></a>
        <a href="#Arrivals" class="fas fa-tags"></a>
        <a href="#Review" class="fas fa-comments"></a>
        <a href="#Blog" class="fas fa-blog"></a>
    </nav>
    <!-- bottom navbar start-->

@* <div class="container-fluid"> *@
@*     <main role="main" class="pb-3"> *@
@*              *@
@*     </main> *@
@* </div> *@
   
        @RenderBody()
 
    


<!-- footer section start -->
        <section class="footer">
            <div class="box-container">
                <div class="box">
                    <h3>Our Locations</h3>
                    <a href="#"><i class="fas fa-map-marker-alt"></i> Viet Nam </a>
                    <a href="#"><i class="fas fa-map-marker-alt"></i> Japan </a>
                    <a href="#"><i class="fas fa-map-marker-alt"></i> Korea </a>
                    <a href="#"><i class="fas fa-map-marker-alt"></i> U.S.A</a>
                    <a href="#"><i class="fas fa-map-marker-alt"></i> India </a>
                    <a href="#"><i class="fas fa-map-marker-alt"></i> France </a>
                </div>
    
                <div class="box">
                    <h3>Informations</h3>
                    <a href="#"><i class="fas fa-arrow-right"></i> About Us </a>
                    <a href="#"><i class="fas fa-arrow-right"></i> Blog & News </a>
                    <a href="#"><i class="fas fa-arrow-right"></i> Contact Us </a>
                    <a href="#"><i class="fas fa-arrow-right"></i> Help </a>
                </div>
    
                <div class="box">
                    <h3>Customer Support</h3>
                    <a href="#"><i class="fas fa-arrow-right"></i> FAQ </a>
                    <a href="#"><i class="fas fa-arrow-right"></i> Purchase Guide </a>
                    <a href="#"><i class="fas fa-arrow-right"></i> Privacy Policy </a>
                    <a href="#"><i class="fas fa-arrow-right"></i> Payment Methods </a>
                    <a href="#"><i class="fas fa-arrow-right"></i> Our Services </a>
                </div>
    
                <div class="box">
                    <h3>Contact Informations</h3>
                    <a href="#"><i class="fas fa-map-marker-alt"></i> 658 Ngo Quyen, Da Nang City, Viet Nam </a>
                    <a href="#"><i class="fas fa-phone"></i> +111-222-3333 </a>
                    <a href="#"><i class="fas fa-envelope"></i> customerservice@fptbookstore.com </a>
                    <img src="~/image/worldmap.jpg" class="map" alt="">
                </div>
    
            </div>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-github"></a>
            </div>
            
            <div class="credit"> © Copyright 2023 <span> FPT Bookstore</span> | All Rights Reserved</div>
        </section>
        <!-- footer section end -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.js"></script>
    <script src="~/js/site.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>