@using Microsoft.AspNetCore.Identity
@inject UserManager<FptBookUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Manager Site</title>
    
    <!-- Icon -->
    <link href="@Url.Content("~/image/book-shop.png")" rel="icon" type="image/x-icon">

    <!-- Boostrap file CSS Link -->
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    
    <!-- Custom file CSS Link -->
    <link href="@Url.Content("~/css/storemanager-layout.css")" rel="stylesheet" type="text/css" />
    @RenderSection("CSS", required: false)

    <!-- Toast Notification Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
    <!-- Box icon Link -->
   	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a asp-controller="Home" asp-action="Index" class="brand"><i class='bx bxs-smile icon'></i> Store Manager</a>
		<ul class="side-menu">
			<li><a asp-controller="Home" asp-action="Index" class="active"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="Store Manager Option"></li>
			<li>
				<a href="#"><i class='bx bxs-inbox icon'></i> Option <i class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					
					@* OPTION FOR STORE MANAGER *@
					<li><a asp-controller="Book" asp-action="Index"> View Book</a></li>
					<li><a asp-controller="CategoryRequest" asp-action="Index">View Category Request</a></li>
					<li><a asp-controller="Customer" asp-action="Index">View Customer</a></li>
					@* OPTION FOR STORE MANAGER *@

				</ul>
			</li>
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Control Panel</a>
				<p>Access the <span>Control Panel</span> to manage your site's settings and content.</p>
			</div>

		</div>
		<div class="footer">
        	<p>&copy; 2023 FPT BookStore, Inc. All rights reserved.</p>
        </div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
<section id="content">
	<!-- NAVBAR -->
	<nav>
		<i class='bx bx-menu toggle-sidebar' ></i>
		
		@RenderSection("SearchBar",required:false)
		
		<a href="#" class="nav-link">
			<span class="hello-user">Hello, @UserManager.GetUserName(User) </span>
			<i class='bx bxs-bell icon' ></i>
			<span class="badge">5</span>
		</a>
		<a href="#" class="nav-link">
			<i class='bx bxs-message-square-dots icon' ></i>
			<span class="badge">8</span>
		</a>
		<span class="divider"></span>
		<div class="profile">
			<img src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="">
			<ul class="profile-link">
				<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
				<li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
				<li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <a style="cursor: pointer" class="drop-content"><button style="cursor: pointer; background: var(--light); border: none; background: transparent;"  class="logout-btn" id="logout"><i class='bx bxs-log-out-circle' style="padding-right: 12px"></i>Logout</button></a>
                    </form>
                </li>
			</ul>
		</div>
	</nav>
	<!-- NAVBAR -->

	<!-- MAIN -->
	<main>
		@RenderBody()
	</main>
</section>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="~/js/storemanager.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>