@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@using FptBook.Areas.StoreManager.Models
@using FptBook.Models
@model FptBook.Areas.Customer.Models.BookSearchViewModel


@* note for huy *@
@* cái ni t làm đại th m làm kiểu thẻ lại nghe do cái ni là search á 
là tựa như mấy cái thẻ ngoài home ấy *@

    @section SearchBar{
        @await Html.PartialAsync("_CustomerSearchBarPartial",Model)
    }


@{
    if (Model.Books.IsNullOrEmpty())
    {
        
        <section class="featured" id="featured">
            <div class="featured-slider">
                <h1 class="heading"> <span>Featured Books</span> </h1>
                <div class="container">
                   <h1 class="no-book-available">There is no book available</h1>
                   <p>We're sorry, but we couldn't find any books or categories matching your search criteria. Please try again later.</p> <br><br>
                   <a asp-action="Index" class="go-back">Go back to homepage</a>
               </div>
            </div>
        </section>
        <style>
            .container {
                max-width: 800px;
                margin: 0 auto;
                padding: 50px;
                text-align: center;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                background-color: #fff;
            }
            
            .no-book-available {
                margin-top: -5px;
                color: #27ae60;
                font-size: 2.7rem;
                margin-bottom: 30px;
            }
            
            p {
                font-size: 2rem;
                color: #707070;
            }
            
            .go-back {
                color: #fff;
                background-color: #27ae60;
                padding: 18px 20px;
                border-radius: 5px;
                text-decoration: none;
                font-size: 1.5rem;
                transition: background-color 0.2s;
            }
            
            .go-back:hover {
                background-color: #219150;
            }
	    </style>
    }
    else
    {
        <!-- featured section start -->
        <section class="featured" id="featured">
            <div class="featured-slider">
                <h1 class="heading"> <span>Featured Books</span> </h1>
                
                 
                     <div class="wrapper">
                        @foreach (var item in Model.Books)
                        {
                            <div class="slide box">
                                <div class="icons">
                                    <a class="fas fa-eye" asp-action="Details" asp-route-id="@item.BookId"></a>
                                </div>
                                <div class="image">
                                    <img src="@Url.Content(item.ImageLink)" class="img-thumbnail"/>
                                </div>
                                <div class="content">
                                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                                    <p>@Html.DisplayFor(modelItem => item.Author.Name)</p>
                                    <p>@Html.DisplayFor(modelItem => item.Category.Name)</p>
                                    <div class="price">$@Html.DisplayFor(modelItem => item.Price)</div>
                                    <a class="btn" asp-controller = "Cart" asp-action="AddToCart" asp-route-id="@item.BookId">Add to cart</a> 
                                </div>
                            </div>
                        }
                         
                     </div>
                 
                
            </div>
        </section>
        <!-- featured section end -->

    }
}


@section CSS
{
    <link href="@Url.Content("~/css/customer-book.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/home-section.css")" rel="stylesheet" type="text/css" />
}



