@model FptBook.Models.CategoryRequest

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Category</h1>
<h3 style="color: #664d03; background-color: #fff3cd; border-color: #ffecb5; padding: 10px 10px; text-align: center;">Are you sure you want to delete this?</h3> <br>
<div>
    <form class="form-control">
        <table class="table table-bordered">
            
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            
            <tr>
                <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                <td>@Html.DisplayFor(model => model.CreatedAt)</td>
            </tr>
            
            <tr>
                <th>@Html.DisplayNameFor(model => model.IsApproved)</th>
                <td>@Html.DisplayFor(model => model.IsApproved)</td>
            </tr>
            
            <tr>
                <th>@Html.DisplayNameFor(model => model.ApprovedAt)</th>
                <td>@Html.DisplayFor(model => model.ApprovedAt)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.User)</th>
                <td>@Html.DisplayFor(model => model.User.Id)</td>
            </tr>

        </table>
    </form>
    <div style="text-align: center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="RequestId" />
            <input type="submit" value="Delete" class="delete-button"/>
            <a class="back-to-list" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>

@section CSS
{
    <link href="@Url.Content("~/css/store_manager-catereq-delete.css")" rel="stylesheet" type="text/css" />
}