@model IEnumerable<FptBook.Models.CategoryRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Category</h1>
<a class="add-category" asp-action="Create">Create New</a>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                <a class="detail-button" asp-action="Details" asp-route-id="@item.RequestId">Details</a> 
                @{
                    if (!(bool) item.IsApproved)
                    {
                        @* <a class="edit-button" asp-action="Edit" asp-route-id="@item.RequestId">Edit</a> *@
                        <a class="delete-button" asp-action="Delete" asp-route-id="@item.RequestId">Delete</a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section CSS
{
    <link href="@Url.Content("~/css/store_manager-categoryrequest.css")" rel="stylesheet" type="text/css" />
}
