@using Microsoft.IdentityModel.Tokens
@model IEnumerable<FptBook.Models.Order>

<div class="wrapper">
    <div class="title"> 
        <h2 class="cart-title">Order Status</h2> 
    </div>
</div>

    @{
        if (Model.IsNullOrEmpty())
        { 
            <div class="container">
                <h1 class="no-book-available">No order available!</h1>
                <p>We're sorry, there are currently no orders available.</p> <br><br>
                <a asp-action="Index" class="go-back">Go back to homepage</a>
            </div>
            <style>
            .container {
                max-width: 800px;
                margin: 0 auto;
                padding: 50px;
                text-align: center;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                background-color: #fff;
            }
            
            .no-book-available {
                margin-top: -5px;
                color: #27ae60;
                font-size: 2.7rem;
                margin-bottom: 30px;
            }
            
            p {
                font-size: 2rem;
                color: #707070;
            }
            
            .go-back {
                color: #fff;
                background-color: #27ae60;
                padding: 18px 20px;
                border-radius: 5px;
                text-decoration: none;
                font-size: 1.5rem;
                transition: background-color 0.2s;
            }
            
            .go-back:hover {
                background-color: #219150;
            }
	    </style>
        }
        else
        {
            foreach (var order in Model)
            {
                <div style="border: 3px solid #ccc; width: 1219px; margin: auto; margin-bottom: 50px;"> <br>
                    <p style="margin-left: 26rem; font-size: 2rem; font-weight: 600;">Order Information</p> <br/>
                    @* <p>Order detail</p> *@
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Book</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
        
                            @{
                                if (order.OrderDetails.IsNullOrEmpty())
                                {
                                    <p style="margin-left: 200px; font-size: 1.5rem; font-weight: bolder;">No info available</p>
                                }
                                else
                                {
                                    foreach (var item in order.OrderDetails)
                                    {
                                        <tr>
                                            <td>@item.Book.Title</td>
                                            <td>@item.Book.Price.ToString("00.00")</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Total</td>
                                        </tr>
                                    }
                                }
                            }
                            <div style="display: flex; font-size: 1.5rem; font-weight: bolder;">
                                <p style="margin-left: 200px;">Status:  </p> 
                                <p style="padding-right: 5px">
                                    @{
                                        if (order.IsCompleted)
                                        {
                                            <p> Already </p>
                                        }
                                        else
                                        {
                                            <p> Not Yet </p>
                                        }
                                    }
                                </p>
                            </div> <br>
                        </tbody>
                    </table> <br/>
                    <p style="margin-left: 26rem; font-size: 2rem; font-weight: 600; margin-bottom: 1rem;">Total Price: $@order.TotalPrice.ToString("00.00")</p>
                    @{
                        // show delete when not completed
                        if (!order.IsCompleted)
                        {
                            <div style="text-align: center; margin-left: 70rem;">
                                <form asp-action="Delete" asp-route-id="@order.OrderId">
                                    <button type="submit" class="btn" style="margin-top: 10px;">Cancel</button>
                                </form>
                            </div> <br/>

                        }   
                    }
                </div>
                
            }
        }
    }

@section CSS
{
    <link href="@Url.Content("~/css/customer-order.css")" rel="stylesheet" type="text/css" />
}

