@using Microsoft.IdentityModel.Tokens
@model IEnumerable<FptBook.Models.Order>


@{
    if (Model.IsNullOrEmpty())
    {
        <p>No order available!</p>
    }
    else
    {
        foreach (var order in Model)
        {
            <p>Order Information</p>
            <p></p>
        
            <p>Order detail</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Book</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
        
                @{
                    if (order.OrderDetails.IsNullOrEmpty())
                    {
                        <p>No info availabe</p>
                    }
                    else
                    {
                        foreach (var item in order.OrderDetails)
                        {
                            <tr>
                                <td>@item.Book.Title</td>
                                <td>@item.Book.Price.ToString("00.00")</td>
                                <td>@item.Quantity</td>
                                <td>@item.Total</td>
                            </tr>
                        }
                    }
                }
                
                <p>Completed?: @order.IsCompleted</p>
                <p>Total Price: @order.TotalPrice.ToString("00.00")</p>
        
                </tbody>
            </table>
        }
    }

}


