@using Microsoft.IdentityModel.Tokens
@model FptBook.Areas.StoreManager.Models.CustomerDetailsViewModel

@{
}

<h1>Information Details</h1>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th class="header-cell">@Html.DisplayNameFor(model => model.Customer.FirstName)</th>
            <td class="data-cell">@Html.DisplayFor(model => model.Customer.FirstName)</td>
        </tr>
        <tr>
            <th class="header-cell">@Html.DisplayNameFor(model => model.Customer.LastName)</th>
            <td class="data-cell">@Html.DisplayFor(model => model.Customer.LastName)</td>
        </tr>
        <tr>
            <th class="header-cell">@Html.DisplayNameFor(model => model.Customer.HomeAddress)</th>
            <td class="data-cell">@Html.DisplayFor(model => model.Customer.HomeAddress)</td>
        </tr>
        <tr>
            <th class="header-cell">@Html.DisplayNameFor(model => model.Customer.Email)</th>
            <td class="data-cell">@Html.DisplayFor(model => model.Customer.Email)</td>
        </tr>
        <tr>
            <th class="header-cell">@Html.DisplayNameFor(model => model.Customer.PhoneNumber)</th>
            <td class="data-cell">@Html.DisplayFor(model => model.Customer.PhoneNumber)</td>
        </tr>
        </thead>
    </table>
</div>
@{
    if (Model.CustomerOrders.IsNullOrEmpty())
    {
        <p>The customer has not ordered</p>
    }

    else
    {
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th class="header-cell">Order ID</th>
                    <th class="header-cell">Order date</th>
                    <th class="header-cell">Total price</th>
                    <th class="header-cell">Is Completed</th>
                    <th class="header-cell"></th>
                </tr>
                @{
                    foreach (var order in Model.CustomerOrders)
                    {
                        <td class="data-cell">@order.OrderId</td>
                        <td class="data-cell">@order.CreatedAt</td>
                        <td class="data-cell">@order.TotalPrice</td>
                        <td class="data-cell">@order.IsCompleted</td>
                        <td class="data-cell">
                            <a href="#">Details</a>
                        </td>
                    }
                }
                </thead>
            </table>
        </div>
    }
}


<div class="button-container">
    <a asp-action="Index">Back to List</a>
</div>